* {
  font-family: "Mulish", sans-serif;
}
body {
  margin-top: 50px;
  margin-left: 135px;
  margin-right: 135px;
  /* border: 1px solid #ff5400; */
}
.navlogos {
  padding: 10px;
}

.navlogo {
  display: flex;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav,
ul {
  display: flex;
  align-items: center;
}
nav,
li {
  list-style: none;
  margin: 10px;
  color: #424247;
  text-align: center;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav-tittel {
  color: #ff5400;
  font-family: Mulish;
  font-size: 24px;
  font-weight: 800;
  margin-right: 100px;
}

.banner-continer {
  max-width: 1100px;
  height: 500px;
  background-image: url(Images/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  border-radius: 16px;
  
}
.banner-tittel {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  
}
.banner-dis {
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}

.form {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  align-items: center;
  padding: 10px;
}

.formtext {
  padding: 10px;

  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn {
  background: #ff5400;
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px;
}

/* nav work done  */

@media only screen and (max-width: 600px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }

  nav,
  ul,
  li {
    flex-direction: column;
  }
  .banner-title {
    font-size: 24px;
    padding-top: 10px;
  }

  .banner-desc {
    font-size: 12px;
    line-height: 16px;
  }

  .form-text {
    font-size: 12px;
  }
}
